---
stages:
  - install
  - build
  - docs
  - publish

cache:
  paths:
    - node_modules/
    - packages/*/node_modules

variables:
  NODE_VERSION: 18-alpine
  NODE_PACKAGE_MANAGER: yarn

include:
  - project: bdsm/gitlab-pipes
    file: /templates/node.gitlab-ci.yml
  - project: bdsm/gitlab-pipes
    file: /templates/semantic-release.gitlab-ci.yml

docs:
  stage: docs
  image: $CI_REGISTRY/bdsm/gitlab-pipes/gitlab-pipes-node:${NODE_VERSION}
  variables:
    NODE_COMMAND_SCRIPT: docs
  script:
    - pipe
  artifacts:
    paths:
      - packages/*/README.md
      - packages/*/docs
  only:
    - master
    - next
    - next-major
    - beta
    - rc
    - alpha
  tags:
    - docker

semantic-release:
  variables:
    NPM_LOGIN: $NPM_LOGIN
    RUN_MULTI: 'true'
