{
  "printWidth": 179,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [{
      "files": ["**/*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["**/*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}